.g-header
  border-bottom 1px solid $color-gray

.g-header-container
  display: flex
  align-items center
  padding 10px 0

.g-header-logo
  flex-basis 60px

.g-header-logo__anchor
  > img
    vertical-align: middle

.g-header-user-info
  display: flex
  align-items: center
  margin-left auto

  > *
    margin-left 10px
    &:first-child
      margin-left 0

.g-header-user-info__point
  color $color-red
  font-weight: bold

.g-header-user-info__thumb
  overflow hidden
  width 40px
  height 40px
  border-radius: 20px
  margin-left 10px
  // border 3px solid $color-brown
