header.g-header
  .container.g-header-container
    .g-header-logo
      = link_to image_tag('https://3.bp.blogspot.com/-TasV1gzw4t8/Wat2ISXqZDI/AAAAAAABGVI/YDgIIwLqbpQgC4g10EWWQ9LLr1JbPbMugCLcBGAs/s800/animal_stand_neko.png')

