.u-font-bold
  font-weight: bold

.u-font-size-M
  font-size 1.2em

.u-font-size-L
  font-size 1.4em

for num in (1..100)
  .u-mt-{num}
    margin-top num * 1px
  .u-mr-{num}
    margin-right num * 1px
  .u-mb-{num}
    margin-bottom num * 1px
  .u-ml-{num}
    margin-left num * 1px

  .u-pt-{num}
    padding-top num * 1px
  .u-pr-{num}
    padding-right num * 1px
  .u-pb-{num}
    padding-bottom num * 1px
  .u-pl-{num}
    padding-left num * 1px
