html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cite,
code,
dfn,
em,
img,
ins,
q,
strong,
small,
sub,
sup,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
caption,
th,
td {
  text-align: left;
}
q::before,
q::after {
  content: '';
}
object,
embed {
  vertical-align: top;
}
img,
abbr,
acronym,
fieldset {
  border: 0;
}
li {
  list-style-type: none;
}
a,
label,
button {
  cursor: pointer;
}
a:active,
a:focus {
  outline: none;
}
button {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
}
button-moz-focus-inner,
input-moz-focus-inner {
  padding: 0;
  border: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  background-repeat: no-repeat;
}
*::before,
*::after {
  pointer-events: none;
}
html {
  overflow-y: scroll;
  text-size-adjust: 100%;
  font-size: 16px;
}
body {
  color: #999;
  text-size-adjust: 100%;
  font-family: 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, '游ゴシック', YuGothic, sans-serif;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.7;
}
input,
select,
textarea,
button {
  font-size: inherit;
  line-height: inherit;
}
::selection {
  color: #fff;
  background: #0af;
}
a {
  color: #0af;
}
a:link {
  color: #0af;
}
a:visited {
  color: #0af;
}
a:hover {
  color: #0af;
}
a:hover img {
  opacity: 0.7;
}
a:active {
  color: #0af;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}
.container {
  max-width: 600px;
  margin: 0 auto;
}
.g-footer {
  margin-top: 50px;
  text-align: center;
}
.g-header {
  border-bottom: 1px solid #cdd7d6;
}
.g-header-container {
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.g-header-logo {
  flex-basis: 60px;
}
.g-header-logo__anchor > img {
  vertical-align: middle;
}
.g-header-user-info {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.g-header-user-info > * {
  margin-left: 10px;
}
.g-header-user-info > *:first-child {
  margin-left: 0;
}
.g-header-user-info__point {
  color: #f87060;
  font-weight: bold;
}
.g-header-user-info__thumb {
  overflow: hidden;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-left: 10px;
}
.u-font-bold {
  font-weight: bold;
}
.u-font-size-M {
  font-size: 1.2em;
}
.u-font-size-L {
  font-size: 1.4em;
}
.u-mt-1 {
  margin-top: 1px;
}
.u-mr-1 {
  margin-right: 1px;
}
.u-mb-1 {
  margin-bottom: 1px;
}
.u-ml-1 {
  margin-left: 1px;
}
.u-pt-1 {
  padding-top: 1px;
}
.u-pr-1 {
  padding-right: 1px;
}
.u-pb-1 {
  padding-bottom: 1px;
}
.u-pl-1 {
  padding-left: 1px;
}
.u-mt-2 {
  margin-top: 2px;
}
.u-mr-2 {
  margin-right: 2px;
}
.u-mb-2 {
  margin-bottom: 2px;
}
.u-ml-2 {
  margin-left: 2px;
}
.u-pt-2 {
  padding-top: 2px;
}
.u-pr-2 {
  padding-right: 2px;
}
.u-pb-2 {
  padding-bottom: 2px;
}
.u-pl-2 {
  padding-left: 2px;
}
.u-mt-3 {
  margin-top: 3px;
}
.u-mr-3 {
  margin-right: 3px;
}
.u-mb-3 {
  margin-bottom: 3px;
}
.u-ml-3 {
  margin-left: 3px;
}
.u-pt-3 {
  padding-top: 3px;
}
.u-pr-3 {
  padding-right: 3px;
}
.u-pb-3 {
  padding-bottom: 3px;
}
.u-pl-3 {
  padding-left: 3px;
}
.u-mt-4 {
  margin-top: 4px;
}
.u-mr-4 {
  margin-right: 4px;
}
.u-mb-4 {
  margin-bottom: 4px;
}
.u-ml-4 {
  margin-left: 4px;
}
.u-pt-4 {
  padding-top: 4px;
}
.u-pr-4 {
  padding-right: 4px;
}
.u-pb-4 {
  padding-bottom: 4px;
}
.u-pl-4 {
  padding-left: 4px;
}
.u-mt-5 {
  margin-top: 5px;
}
.u-mr-5 {
  margin-right: 5px;
}
.u-mb-5 {
  margin-bottom: 5px;
}
.u-ml-5 {
  margin-left: 5px;
}
.u-pt-5 {
  padding-top: 5px;
}
.u-pr-5 {
  padding-right: 5px;
}
.u-pb-5 {
  padding-bottom: 5px;
}
.u-pl-5 {
  padding-left: 5px;
}
.u-mt-6 {
  margin-top: 6px;
}
.u-mr-6 {
  margin-right: 6px;
}
.u-mb-6 {
  margin-bottom: 6px;
}
.u-ml-6 {
  margin-left: 6px;
}
.u-pt-6 {
  padding-top: 6px;
}
.u-pr-6 {
  padding-right: 6px;
}
.u-pb-6 {
  padding-bottom: 6px;
}
.u-pl-6 {
  padding-left: 6px;
}
.u-mt-7 {
  margin-top: 7px;
}
.u-mr-7 {
  margin-right: 7px;
}
.u-mb-7 {
  margin-bottom: 7px;
}
.u-ml-7 {
  margin-left: 7px;
}
.u-pt-7 {
  padding-top: 7px;
}
.u-pr-7 {
  padding-right: 7px;
}
.u-pb-7 {
  padding-bottom: 7px;
}
.u-pl-7 {
  padding-left: 7px;
}
.u-mt-8 {
  margin-top: 8px;
}
.u-mr-8 {
  margin-right: 8px;
}
.u-mb-8 {
  margin-bottom: 8px;
}
.u-ml-8 {
  margin-left: 8px;
}
.u-pt-8 {
  padding-top: 8px;
}
.u-pr-8 {
  padding-right: 8px;
}
.u-pb-8 {
  padding-bottom: 8px;
}
.u-pl-8 {
  padding-left: 8px;
}
.u-mt-9 {
  margin-top: 9px;
}
.u-mr-9 {
  margin-right: 9px;
}
.u-mb-9 {
  margin-bottom: 9px;
}
.u-ml-9 {
  margin-left: 9px;
}
.u-pt-9 {
  padding-top: 9px;
}
.u-pr-9 {
  padding-right: 9px;
}
.u-pb-9 {
  padding-bottom: 9px;
}
.u-pl-9 {
  padding-left: 9px;
}
.u-mt-10 {
  margin-top: 10px;
}
.u-mr-10 {
  margin-right: 10px;
}
.u-mb-10 {
  margin-bottom: 10px;
}
.u-ml-10 {
  margin-left: 10px;
}
.u-pt-10 {
  padding-top: 10px;
}
.u-pr-10 {
  padding-right: 10px;
}
.u-pb-10 {
  padding-bottom: 10px;
}
.u-pl-10 {
  padding-left: 10px;
}
.u-mt-11 {
  margin-top: 11px;
}
.u-mr-11 {
  margin-right: 11px;
}
.u-mb-11 {
  margin-bottom: 11px;
}
.u-ml-11 {
  margin-left: 11px;
}
.u-pt-11 {
  padding-top: 11px;
}
.u-pr-11 {
  padding-right: 11px;
}
.u-pb-11 {
  padding-bottom: 11px;
}
.u-pl-11 {
  padding-left: 11px;
}
.u-mt-12 {
  margin-top: 12px;
}
.u-mr-12 {
  margin-right: 12px;
}
.u-mb-12 {
  margin-bottom: 12px;
}
.u-ml-12 {
  margin-left: 12px;
}
.u-pt-12 {
  padding-top: 12px;
}
.u-pr-12 {
  padding-right: 12px;
}
.u-pb-12 {
  padding-bottom: 12px;
}
.u-pl-12 {
  padding-left: 12px;
}
.u-mt-13 {
  margin-top: 13px;
}
.u-mr-13 {
  margin-right: 13px;
}
.u-mb-13 {
  margin-bottom: 13px;
}
.u-ml-13 {
  margin-left: 13px;
}
.u-pt-13 {
  padding-top: 13px;
}
.u-pr-13 {
  padding-right: 13px;
}
.u-pb-13 {
  padding-bottom: 13px;
}
.u-pl-13 {
  padding-left: 13px;
}
.u-mt-14 {
  margin-top: 14px;
}
.u-mr-14 {
  margin-right: 14px;
}
.u-mb-14 {
  margin-bottom: 14px;
}
.u-ml-14 {
  margin-left: 14px;
}
.u-pt-14 {
  padding-top: 14px;
}
.u-pr-14 {
  padding-right: 14px;
}
.u-pb-14 {
  padding-bottom: 14px;
}
.u-pl-14 {
  padding-left: 14px;
}
.u-mt-15 {
  margin-top: 15px;
}
.u-mr-15 {
  margin-right: 15px;
}
.u-mb-15 {
  margin-bottom: 15px;
}
.u-ml-15 {
  margin-left: 15px;
}
.u-pt-15 {
  padding-top: 15px;
}
.u-pr-15 {
  padding-right: 15px;
}
.u-pb-15 {
  padding-bottom: 15px;
}
.u-pl-15 {
  padding-left: 15px;
}
.u-mt-16 {
  margin-top: 16px;
}
.u-mr-16 {
  margin-right: 16px;
}
.u-mb-16 {
  margin-bottom: 16px;
}
.u-ml-16 {
  margin-left: 16px;
}
.u-pt-16 {
  padding-top: 16px;
}
.u-pr-16 {
  padding-right: 16px;
}
.u-pb-16 {
  padding-bottom: 16px;
}
.u-pl-16 {
  padding-left: 16px;
}
.u-mt-17 {
  margin-top: 17px;
}
.u-mr-17 {
  margin-right: 17px;
}
.u-mb-17 {
  margin-bottom: 17px;
}
.u-ml-17 {
  margin-left: 17px;
}
.u-pt-17 {
  padding-top: 17px;
}
.u-pr-17 {
  padding-right: 17px;
}
.u-pb-17 {
  padding-bottom: 17px;
}
.u-pl-17 {
  padding-left: 17px;
}
.u-mt-18 {
  margin-top: 18px;
}
.u-mr-18 {
  margin-right: 18px;
}
.u-mb-18 {
  margin-bottom: 18px;
}
.u-ml-18 {
  margin-left: 18px;
}
.u-pt-18 {
  padding-top: 18px;
}
.u-pr-18 {
  padding-right: 18px;
}
.u-pb-18 {
  padding-bottom: 18px;
}
.u-pl-18 {
  padding-left: 18px;
}
.u-mt-19 {
  margin-top: 19px;
}
.u-mr-19 {
  margin-right: 19px;
}
.u-mb-19 {
  margin-bottom: 19px;
}
.u-ml-19 {
  margin-left: 19px;
}
.u-pt-19 {
  padding-top: 19px;
}
.u-pr-19 {
  padding-right: 19px;
}
.u-pb-19 {
  padding-bottom: 19px;
}
.u-pl-19 {
  padding-left: 19px;
}
.u-mt-20 {
  margin-top: 20px;
}
.u-mr-20 {
  margin-right: 20px;
}
.u-mb-20 {
  margin-bottom: 20px;
}
.u-ml-20 {
  margin-left: 20px;
}
.u-pt-20 {
  padding-top: 20px;
}
.u-pr-20 {
  padding-right: 20px;
}
.u-pb-20 {
  padding-bottom: 20px;
}
.u-pl-20 {
  padding-left: 20px;
}
.u-mt-21 {
  margin-top: 21px;
}
.u-mr-21 {
  margin-right: 21px;
}
.u-mb-21 {
  margin-bottom: 21px;
}
.u-ml-21 {
  margin-left: 21px;
}
.u-pt-21 {
  padding-top: 21px;
}
.u-pr-21 {
  padding-right: 21px;
}
.u-pb-21 {
  padding-bottom: 21px;
}
.u-pl-21 {
  padding-left: 21px;
}
.u-mt-22 {
  margin-top: 22px;
}
.u-mr-22 {
  margin-right: 22px;
}
.u-mb-22 {
  margin-bottom: 22px;
}
.u-ml-22 {
  margin-left: 22px;
}
.u-pt-22 {
  padding-top: 22px;
}
.u-pr-22 {
  padding-right: 22px;
}
.u-pb-22 {
  padding-bottom: 22px;
}
.u-pl-22 {
  padding-left: 22px;
}
.u-mt-23 {
  margin-top: 23px;
}
.u-mr-23 {
  margin-right: 23px;
}
.u-mb-23 {
  margin-bottom: 23px;
}
.u-ml-23 {
  margin-left: 23px;
}
.u-pt-23 {
  padding-top: 23px;
}
.u-pr-23 {
  padding-right: 23px;
}
.u-pb-23 {
  padding-bottom: 23px;
}
.u-pl-23 {
  padding-left: 23px;
}
.u-mt-24 {
  margin-top: 24px;
}
.u-mr-24 {
  margin-right: 24px;
}
.u-mb-24 {
  margin-bottom: 24px;
}
.u-ml-24 {
  margin-left: 24px;
}
.u-pt-24 {
  padding-top: 24px;
}
.u-pr-24 {
  padding-right: 24px;
}
.u-pb-24 {
  padding-bottom: 24px;
}
.u-pl-24 {
  padding-left: 24px;
}
.u-mt-25 {
  margin-top: 25px;
}
.u-mr-25 {
  margin-right: 25px;
}
.u-mb-25 {
  margin-bottom: 25px;
}
.u-ml-25 {
  margin-left: 25px;
}
.u-pt-25 {
  padding-top: 25px;
}
.u-pr-25 {
  padding-right: 25px;
}
.u-pb-25 {
  padding-bottom: 25px;
}
.u-pl-25 {
  padding-left: 25px;
}
.u-mt-26 {
  margin-top: 26px;
}
.u-mr-26 {
  margin-right: 26px;
}
.u-mb-26 {
  margin-bottom: 26px;
}
.u-ml-26 {
  margin-left: 26px;
}
.u-pt-26 {
  padding-top: 26px;
}
.u-pr-26 {
  padding-right: 26px;
}
.u-pb-26 {
  padding-bottom: 26px;
}
.u-pl-26 {
  padding-left: 26px;
}
.u-mt-27 {
  margin-top: 27px;
}
.u-mr-27 {
  margin-right: 27px;
}
.u-mb-27 {
  margin-bottom: 27px;
}
.u-ml-27 {
  margin-left: 27px;
}
.u-pt-27 {
  padding-top: 27px;
}
.u-pr-27 {
  padding-right: 27px;
}
.u-pb-27 {
  padding-bottom: 27px;
}
.u-pl-27 {
  padding-left: 27px;
}
.u-mt-28 {
  margin-top: 28px;
}
.u-mr-28 {
  margin-right: 28px;
}
.u-mb-28 {
  margin-bottom: 28px;
}
.u-ml-28 {
  margin-left: 28px;
}
.u-pt-28 {
  padding-top: 28px;
}
.u-pr-28 {
  padding-right: 28px;
}
.u-pb-28 {
  padding-bottom: 28px;
}
.u-pl-28 {
  padding-left: 28px;
}
.u-mt-29 {
  margin-top: 29px;
}
.u-mr-29 {
  margin-right: 29px;
}
.u-mb-29 {
  margin-bottom: 29px;
}
.u-ml-29 {
  margin-left: 29px;
}
.u-pt-29 {
  padding-top: 29px;
}
.u-pr-29 {
  padding-right: 29px;
}
.u-pb-29 {
  padding-bottom: 29px;
}
.u-pl-29 {
  padding-left: 29px;
}
.u-mt-30 {
  margin-top: 30px;
}
.u-mr-30 {
  margin-right: 30px;
}
.u-mb-30 {
  margin-bottom: 30px;
}
.u-ml-30 {
  margin-left: 30px;
}
.u-pt-30 {
  padding-top: 30px;
}
.u-pr-30 {
  padding-right: 30px;
}
.u-pb-30 {
  padding-bottom: 30px;
}
.u-pl-30 {
  padding-left: 30px;
}
.u-mt-31 {
  margin-top: 31px;
}
.u-mr-31 {
  margin-right: 31px;
}
.u-mb-31 {
  margin-bottom: 31px;
}
.u-ml-31 {
  margin-left: 31px;
}
.u-pt-31 {
  padding-top: 31px;
}
.u-pr-31 {
  padding-right: 31px;
}
.u-pb-31 {
  padding-bottom: 31px;
}
.u-pl-31 {
  padding-left: 31px;
}
.u-mt-32 {
  margin-top: 32px;
}
.u-mr-32 {
  margin-right: 32px;
}
.u-mb-32 {
  margin-bottom: 32px;
}
.u-ml-32 {
  margin-left: 32px;
}
.u-pt-32 {
  padding-top: 32px;
}
.u-pr-32 {
  padding-right: 32px;
}
.u-pb-32 {
  padding-bottom: 32px;
}
.u-pl-32 {
  padding-left: 32px;
}
.u-mt-33 {
  margin-top: 33px;
}
.u-mr-33 {
  margin-right: 33px;
}
.u-mb-33 {
  margin-bottom: 33px;
}
.u-ml-33 {
  margin-left: 33px;
}
.u-pt-33 {
  padding-top: 33px;
}
.u-pr-33 {
  padding-right: 33px;
}
.u-pb-33 {
  padding-bottom: 33px;
}
.u-pl-33 {
  padding-left: 33px;
}
.u-mt-34 {
  margin-top: 34px;
}
.u-mr-34 {
  margin-right: 34px;
}
.u-mb-34 {
  margin-bottom: 34px;
}
.u-ml-34 {
  margin-left: 34px;
}
.u-pt-34 {
  padding-top: 34px;
}
.u-pr-34 {
  padding-right: 34px;
}
.u-pb-34 {
  padding-bottom: 34px;
}
.u-pl-34 {
  padding-left: 34px;
}
.u-mt-35 {
  margin-top: 35px;
}
.u-mr-35 {
  margin-right: 35px;
}
.u-mb-35 {
  margin-bottom: 35px;
}
.u-ml-35 {
  margin-left: 35px;
}
.u-pt-35 {
  padding-top: 35px;
}
.u-pr-35 {
  padding-right: 35px;
}
.u-pb-35 {
  padding-bottom: 35px;
}
.u-pl-35 {
  padding-left: 35px;
}
.u-mt-36 {
  margin-top: 36px;
}
.u-mr-36 {
  margin-right: 36px;
}
.u-mb-36 {
  margin-bottom: 36px;
}
.u-ml-36 {
  margin-left: 36px;
}
.u-pt-36 {
  padding-top: 36px;
}
.u-pr-36 {
  padding-right: 36px;
}
.u-pb-36 {
  padding-bottom: 36px;
}
.u-pl-36 {
  padding-left: 36px;
}
.u-mt-37 {
  margin-top: 37px;
}
.u-mr-37 {
  margin-right: 37px;
}
.u-mb-37 {
  margin-bottom: 37px;
}
.u-ml-37 {
  margin-left: 37px;
}
.u-pt-37 {
  padding-top: 37px;
}
.u-pr-37 {
  padding-right: 37px;
}
.u-pb-37 {
  padding-bottom: 37px;
}
.u-pl-37 {
  padding-left: 37px;
}
.u-mt-38 {
  margin-top: 38px;
}
.u-mr-38 {
  margin-right: 38px;
}
.u-mb-38 {
  margin-bottom: 38px;
}
.u-ml-38 {
  margin-left: 38px;
}
.u-pt-38 {
  padding-top: 38px;
}
.u-pr-38 {
  padding-right: 38px;
}
.u-pb-38 {
  padding-bottom: 38px;
}
.u-pl-38 {
  padding-left: 38px;
}
.u-mt-39 {
  margin-top: 39px;
}
.u-mr-39 {
  margin-right: 39px;
}
.u-mb-39 {
  margin-bottom: 39px;
}
.u-ml-39 {
  margin-left: 39px;
}
.u-pt-39 {
  padding-top: 39px;
}
.u-pr-39 {
  padding-right: 39px;
}
.u-pb-39 {
  padding-bottom: 39px;
}
.u-pl-39 {
  padding-left: 39px;
}
.u-mt-40 {
  margin-top: 40px;
}
.u-mr-40 {
  margin-right: 40px;
}
.u-mb-40 {
  margin-bottom: 40px;
}
.u-ml-40 {
  margin-left: 40px;
}
.u-pt-40 {
  padding-top: 40px;
}
.u-pr-40 {
  padding-right: 40px;
}
.u-pb-40 {
  padding-bottom: 40px;
}
.u-pl-40 {
  padding-left: 40px;
}
.u-mt-41 {
  margin-top: 41px;
}
.u-mr-41 {
  margin-right: 41px;
}
.u-mb-41 {
  margin-bottom: 41px;
}
.u-ml-41 {
  margin-left: 41px;
}
.u-pt-41 {
  padding-top: 41px;
}
.u-pr-41 {
  padding-right: 41px;
}
.u-pb-41 {
  padding-bottom: 41px;
}
.u-pl-41 {
  padding-left: 41px;
}
.u-mt-42 {
  margin-top: 42px;
}
.u-mr-42 {
  margin-right: 42px;
}
.u-mb-42 {
  margin-bottom: 42px;
}
.u-ml-42 {
  margin-left: 42px;
}
.u-pt-42 {
  padding-top: 42px;
}
.u-pr-42 {
  padding-right: 42px;
}
.u-pb-42 {
  padding-bottom: 42px;
}
.u-pl-42 {
  padding-left: 42px;
}
.u-mt-43 {
  margin-top: 43px;
}
.u-mr-43 {
  margin-right: 43px;
}
.u-mb-43 {
  margin-bottom: 43px;
}
.u-ml-43 {
  margin-left: 43px;
}
.u-pt-43 {
  padding-top: 43px;
}
.u-pr-43 {
  padding-right: 43px;
}
.u-pb-43 {
  padding-bottom: 43px;
}
.u-pl-43 {
  padding-left: 43px;
}
.u-mt-44 {
  margin-top: 44px;
}
.u-mr-44 {
  margin-right: 44px;
}
.u-mb-44 {
  margin-bottom: 44px;
}
.u-ml-44 {
  margin-left: 44px;
}
.u-pt-44 {
  padding-top: 44px;
}
.u-pr-44 {
  padding-right: 44px;
}
.u-pb-44 {
  padding-bottom: 44px;
}
.u-pl-44 {
  padding-left: 44px;
}
.u-mt-45 {
  margin-top: 45px;
}
.u-mr-45 {
  margin-right: 45px;
}
.u-mb-45 {
  margin-bottom: 45px;
}
.u-ml-45 {
  margin-left: 45px;
}
.u-pt-45 {
  padding-top: 45px;
}
.u-pr-45 {
  padding-right: 45px;
}
.u-pb-45 {
  padding-bottom: 45px;
}
.u-pl-45 {
  padding-left: 45px;
}
.u-mt-46 {
  margin-top: 46px;
}
.u-mr-46 {
  margin-right: 46px;
}
.u-mb-46 {
  margin-bottom: 46px;
}
.u-ml-46 {
  margin-left: 46px;
}
.u-pt-46 {
  padding-top: 46px;
}
.u-pr-46 {
  padding-right: 46px;
}
.u-pb-46 {
  padding-bottom: 46px;
}
.u-pl-46 {
  padding-left: 46px;
}
.u-mt-47 {
  margin-top: 47px;
}
.u-mr-47 {
  margin-right: 47px;
}
.u-mb-47 {
  margin-bottom: 47px;
}
.u-ml-47 {
  margin-left: 47px;
}
.u-pt-47 {
  padding-top: 47px;
}
.u-pr-47 {
  padding-right: 47px;
}
.u-pb-47 {
  padding-bottom: 47px;
}
.u-pl-47 {
  padding-left: 47px;
}
.u-mt-48 {
  margin-top: 48px;
}
.u-mr-48 {
  margin-right: 48px;
}
.u-mb-48 {
  margin-bottom: 48px;
}
.u-ml-48 {
  margin-left: 48px;
}
.u-pt-48 {
  padding-top: 48px;
}
.u-pr-48 {
  padding-right: 48px;
}
.u-pb-48 {
  padding-bottom: 48px;
}
.u-pl-48 {
  padding-left: 48px;
}
.u-mt-49 {
  margin-top: 49px;
}
.u-mr-49 {
  margin-right: 49px;
}
.u-mb-49 {
  margin-bottom: 49px;
}
.u-ml-49 {
  margin-left: 49px;
}
.u-pt-49 {
  padding-top: 49px;
}
.u-pr-49 {
  padding-right: 49px;
}
.u-pb-49 {
  padding-bottom: 49px;
}
.u-pl-49 {
  padding-left: 49px;
}
.u-mt-50 {
  margin-top: 50px;
}
.u-mr-50 {
  margin-right: 50px;
}
.u-mb-50 {
  margin-bottom: 50px;
}
.u-ml-50 {
  margin-left: 50px;
}
.u-pt-50 {
  padding-top: 50px;
}
.u-pr-50 {
  padding-right: 50px;
}
.u-pb-50 {
  padding-bottom: 50px;
}
.u-pl-50 {
  padding-left: 50px;
}
.u-mt-51 {
  margin-top: 51px;
}
.u-mr-51 {
  margin-right: 51px;
}
.u-mb-51 {
  margin-bottom: 51px;
}
.u-ml-51 {
  margin-left: 51px;
}
.u-pt-51 {
  padding-top: 51px;
}
.u-pr-51 {
  padding-right: 51px;
}
.u-pb-51 {
  padding-bottom: 51px;
}
.u-pl-51 {
  padding-left: 51px;
}
.u-mt-52 {
  margin-top: 52px;
}
.u-mr-52 {
  margin-right: 52px;
}
.u-mb-52 {
  margin-bottom: 52px;
}
.u-ml-52 {
  margin-left: 52px;
}
.u-pt-52 {
  padding-top: 52px;
}
.u-pr-52 {
  padding-right: 52px;
}
.u-pb-52 {
  padding-bottom: 52px;
}
.u-pl-52 {
  padding-left: 52px;
}
.u-mt-53 {
  margin-top: 53px;
}
.u-mr-53 {
  margin-right: 53px;
}
.u-mb-53 {
  margin-bottom: 53px;
}
.u-ml-53 {
  margin-left: 53px;
}
.u-pt-53 {
  padding-top: 53px;
}
.u-pr-53 {
  padding-right: 53px;
}
.u-pb-53 {
  padding-bottom: 53px;
}
.u-pl-53 {
  padding-left: 53px;
}
.u-mt-54 {
  margin-top: 54px;
}
.u-mr-54 {
  margin-right: 54px;
}
.u-mb-54 {
  margin-bottom: 54px;
}
.u-ml-54 {
  margin-left: 54px;
}
.u-pt-54 {
  padding-top: 54px;
}
.u-pr-54 {
  padding-right: 54px;
}
.u-pb-54 {
  padding-bottom: 54px;
}
.u-pl-54 {
  padding-left: 54px;
}
.u-mt-55 {
  margin-top: 55px;
}
.u-mr-55 {
  margin-right: 55px;
}
.u-mb-55 {
  margin-bottom: 55px;
}
.u-ml-55 {
  margin-left: 55px;
}
.u-pt-55 {
  padding-top: 55px;
}
.u-pr-55 {
  padding-right: 55px;
}
.u-pb-55 {
  padding-bottom: 55px;
}
.u-pl-55 {
  padding-left: 55px;
}
.u-mt-56 {
  margin-top: 56px;
}
.u-mr-56 {
  margin-right: 56px;
}
.u-mb-56 {
  margin-bottom: 56px;
}
.u-ml-56 {
  margin-left: 56px;
}
.u-pt-56 {
  padding-top: 56px;
}
.u-pr-56 {
  padding-right: 56px;
}
.u-pb-56 {
  padding-bottom: 56px;
}
.u-pl-56 {
  padding-left: 56px;
}
.u-mt-57 {
  margin-top: 57px;
}
.u-mr-57 {
  margin-right: 57px;
}
.u-mb-57 {
  margin-bottom: 57px;
}
.u-ml-57 {
  margin-left: 57px;
}
.u-pt-57 {
  padding-top: 57px;
}
.u-pr-57 {
  padding-right: 57px;
}
.u-pb-57 {
  padding-bottom: 57px;
}
.u-pl-57 {
  padding-left: 57px;
}
.u-mt-58 {
  margin-top: 58px;
}
.u-mr-58 {
  margin-right: 58px;
}
.u-mb-58 {
  margin-bottom: 58px;
}
.u-ml-58 {
  margin-left: 58px;
}
.u-pt-58 {
  padding-top: 58px;
}
.u-pr-58 {
  padding-right: 58px;
}
.u-pb-58 {
  padding-bottom: 58px;
}
.u-pl-58 {
  padding-left: 58px;
}
.u-mt-59 {
  margin-top: 59px;
}
.u-mr-59 {
  margin-right: 59px;
}
.u-mb-59 {
  margin-bottom: 59px;
}
.u-ml-59 {
  margin-left: 59px;
}
.u-pt-59 {
  padding-top: 59px;
}
.u-pr-59 {
  padding-right: 59px;
}
.u-pb-59 {
  padding-bottom: 59px;
}
.u-pl-59 {
  padding-left: 59px;
}
.u-mt-60 {
  margin-top: 60px;
}
.u-mr-60 {
  margin-right: 60px;
}
.u-mb-60 {
  margin-bottom: 60px;
}
.u-ml-60 {
  margin-left: 60px;
}
.u-pt-60 {
  padding-top: 60px;
}
.u-pr-60 {
  padding-right: 60px;
}
.u-pb-60 {
  padding-bottom: 60px;
}
.u-pl-60 {
  padding-left: 60px;
}
.u-mt-61 {
  margin-top: 61px;
}
.u-mr-61 {
  margin-right: 61px;
}
.u-mb-61 {
  margin-bottom: 61px;
}
.u-ml-61 {
  margin-left: 61px;
}
.u-pt-61 {
  padding-top: 61px;
}
.u-pr-61 {
  padding-right: 61px;
}
.u-pb-61 {
  padding-bottom: 61px;
}
.u-pl-61 {
  padding-left: 61px;
}
.u-mt-62 {
  margin-top: 62px;
}
.u-mr-62 {
  margin-right: 62px;
}
.u-mb-62 {
  margin-bottom: 62px;
}
.u-ml-62 {
  margin-left: 62px;
}
.u-pt-62 {
  padding-top: 62px;
}
.u-pr-62 {
  padding-right: 62px;
}
.u-pb-62 {
  padding-bottom: 62px;
}
.u-pl-62 {
  padding-left: 62px;
}
.u-mt-63 {
  margin-top: 63px;
}
.u-mr-63 {
  margin-right: 63px;
}
.u-mb-63 {
  margin-bottom: 63px;
}
.u-ml-63 {
  margin-left: 63px;
}
.u-pt-63 {
  padding-top: 63px;
}
.u-pr-63 {
  padding-right: 63px;
}
.u-pb-63 {
  padding-bottom: 63px;
}
.u-pl-63 {
  padding-left: 63px;
}
.u-mt-64 {
  margin-top: 64px;
}
.u-mr-64 {
  margin-right: 64px;
}
.u-mb-64 {
  margin-bottom: 64px;
}
.u-ml-64 {
  margin-left: 64px;
}
.u-pt-64 {
  padding-top: 64px;
}
.u-pr-64 {
  padding-right: 64px;
}
.u-pb-64 {
  padding-bottom: 64px;
}
.u-pl-64 {
  padding-left: 64px;
}
.u-mt-65 {
  margin-top: 65px;
}
.u-mr-65 {
  margin-right: 65px;
}
.u-mb-65 {
  margin-bottom: 65px;
}
.u-ml-65 {
  margin-left: 65px;
}
.u-pt-65 {
  padding-top: 65px;
}
.u-pr-65 {
  padding-right: 65px;
}
.u-pb-65 {
  padding-bottom: 65px;
}
.u-pl-65 {
  padding-left: 65px;
}
.u-mt-66 {
  margin-top: 66px;
}
.u-mr-66 {
  margin-right: 66px;
}
.u-mb-66 {
  margin-bottom: 66px;
}
.u-ml-66 {
  margin-left: 66px;
}
.u-pt-66 {
  padding-top: 66px;
}
.u-pr-66 {
  padding-right: 66px;
}
.u-pb-66 {
  padding-bottom: 66px;
}
.u-pl-66 {
  padding-left: 66px;
}
.u-mt-67 {
  margin-top: 67px;
}
.u-mr-67 {
  margin-right: 67px;
}
.u-mb-67 {
  margin-bottom: 67px;
}
.u-ml-67 {
  margin-left: 67px;
}
.u-pt-67 {
  padding-top: 67px;
}
.u-pr-67 {
  padding-right: 67px;
}
.u-pb-67 {
  padding-bottom: 67px;
}
.u-pl-67 {
  padding-left: 67px;
}
.u-mt-68 {
  margin-top: 68px;
}
.u-mr-68 {
  margin-right: 68px;
}
.u-mb-68 {
  margin-bottom: 68px;
}
.u-ml-68 {
  margin-left: 68px;
}
.u-pt-68 {
  padding-top: 68px;
}
.u-pr-68 {
  padding-right: 68px;
}
.u-pb-68 {
  padding-bottom: 68px;
}
.u-pl-68 {
  padding-left: 68px;
}
.u-mt-69 {
  margin-top: 69px;
}
.u-mr-69 {
  margin-right: 69px;
}
.u-mb-69 {
  margin-bottom: 69px;
}
.u-ml-69 {
  margin-left: 69px;
}
.u-pt-69 {
  padding-top: 69px;
}
.u-pr-69 {
  padding-right: 69px;
}
.u-pb-69 {
  padding-bottom: 69px;
}
.u-pl-69 {
  padding-left: 69px;
}
.u-mt-70 {
  margin-top: 70px;
}
.u-mr-70 {
  margin-right: 70px;
}
.u-mb-70 {
  margin-bottom: 70px;
}
.u-ml-70 {
  margin-left: 70px;
}
.u-pt-70 {
  padding-top: 70px;
}
.u-pr-70 {
  padding-right: 70px;
}
.u-pb-70 {
  padding-bottom: 70px;
}
.u-pl-70 {
  padding-left: 70px;
}
.u-mt-71 {
  margin-top: 71px;
}
.u-mr-71 {
  margin-right: 71px;
}
.u-mb-71 {
  margin-bottom: 71px;
}
.u-ml-71 {
  margin-left: 71px;
}
.u-pt-71 {
  padding-top: 71px;
}
.u-pr-71 {
  padding-right: 71px;
}
.u-pb-71 {
  padding-bottom: 71px;
}
.u-pl-71 {
  padding-left: 71px;
}
.u-mt-72 {
  margin-top: 72px;
}
.u-mr-72 {
  margin-right: 72px;
}
.u-mb-72 {
  margin-bottom: 72px;
}
.u-ml-72 {
  margin-left: 72px;
}
.u-pt-72 {
  padding-top: 72px;
}
.u-pr-72 {
  padding-right: 72px;
}
.u-pb-72 {
  padding-bottom: 72px;
}
.u-pl-72 {
  padding-left: 72px;
}
.u-mt-73 {
  margin-top: 73px;
}
.u-mr-73 {
  margin-right: 73px;
}
.u-mb-73 {
  margin-bottom: 73px;
}
.u-ml-73 {
  margin-left: 73px;
}
.u-pt-73 {
  padding-top: 73px;
}
.u-pr-73 {
  padding-right: 73px;
}
.u-pb-73 {
  padding-bottom: 73px;
}
.u-pl-73 {
  padding-left: 73px;
}
.u-mt-74 {
  margin-top: 74px;
}
.u-mr-74 {
  margin-right: 74px;
}
.u-mb-74 {
  margin-bottom: 74px;
}
.u-ml-74 {
  margin-left: 74px;
}
.u-pt-74 {
  padding-top: 74px;
}
.u-pr-74 {
  padding-right: 74px;
}
.u-pb-74 {
  padding-bottom: 74px;
}
.u-pl-74 {
  padding-left: 74px;
}
.u-mt-75 {
  margin-top: 75px;
}
.u-mr-75 {
  margin-right: 75px;
}
.u-mb-75 {
  margin-bottom: 75px;
}
.u-ml-75 {
  margin-left: 75px;
}
.u-pt-75 {
  padding-top: 75px;
}
.u-pr-75 {
  padding-right: 75px;
}
.u-pb-75 {
  padding-bottom: 75px;
}
.u-pl-75 {
  padding-left: 75px;
}
.u-mt-76 {
  margin-top: 76px;
}
.u-mr-76 {
  margin-right: 76px;
}
.u-mb-76 {
  margin-bottom: 76px;
}
.u-ml-76 {
  margin-left: 76px;
}
.u-pt-76 {
  padding-top: 76px;
}
.u-pr-76 {
  padding-right: 76px;
}
.u-pb-76 {
  padding-bottom: 76px;
}
.u-pl-76 {
  padding-left: 76px;
}
.u-mt-77 {
  margin-top: 77px;
}
.u-mr-77 {
  margin-right: 77px;
}
.u-mb-77 {
  margin-bottom: 77px;
}
.u-ml-77 {
  margin-left: 77px;
}
.u-pt-77 {
  padding-top: 77px;
}
.u-pr-77 {
  padding-right: 77px;
}
.u-pb-77 {
  padding-bottom: 77px;
}
.u-pl-77 {
  padding-left: 77px;
}
.u-mt-78 {
  margin-top: 78px;
}
.u-mr-78 {
  margin-right: 78px;
}
.u-mb-78 {
  margin-bottom: 78px;
}
.u-ml-78 {
  margin-left: 78px;
}
.u-pt-78 {
  padding-top: 78px;
}
.u-pr-78 {
  padding-right: 78px;
}
.u-pb-78 {
  padding-bottom: 78px;
}
.u-pl-78 {
  padding-left: 78px;
}
.u-mt-79 {
  margin-top: 79px;
}
.u-mr-79 {
  margin-right: 79px;
}
.u-mb-79 {
  margin-bottom: 79px;
}
.u-ml-79 {
  margin-left: 79px;
}
.u-pt-79 {
  padding-top: 79px;
}
.u-pr-79 {
  padding-right: 79px;
}
.u-pb-79 {
  padding-bottom: 79px;
}
.u-pl-79 {
  padding-left: 79px;
}
.u-mt-80 {
  margin-top: 80px;
}
.u-mr-80 {
  margin-right: 80px;
}
.u-mb-80 {
  margin-bottom: 80px;
}
.u-ml-80 {
  margin-left: 80px;
}
.u-pt-80 {
  padding-top: 80px;
}
.u-pr-80 {
  padding-right: 80px;
}
.u-pb-80 {
  padding-bottom: 80px;
}
.u-pl-80 {
  padding-left: 80px;
}
.u-mt-81 {
  margin-top: 81px;
}
.u-mr-81 {
  margin-right: 81px;
}
.u-mb-81 {
  margin-bottom: 81px;
}
.u-ml-81 {
  margin-left: 81px;
}
.u-pt-81 {
  padding-top: 81px;
}
.u-pr-81 {
  padding-right: 81px;
}
.u-pb-81 {
  padding-bottom: 81px;
}
.u-pl-81 {
  padding-left: 81px;
}
.u-mt-82 {
  margin-top: 82px;
}
.u-mr-82 {
  margin-right: 82px;
}
.u-mb-82 {
  margin-bottom: 82px;
}
.u-ml-82 {
  margin-left: 82px;
}
.u-pt-82 {
  padding-top: 82px;
}
.u-pr-82 {
  padding-right: 82px;
}
.u-pb-82 {
  padding-bottom: 82px;
}
.u-pl-82 {
  padding-left: 82px;
}
.u-mt-83 {
  margin-top: 83px;
}
.u-mr-83 {
  margin-right: 83px;
}
.u-mb-83 {
  margin-bottom: 83px;
}
.u-ml-83 {
  margin-left: 83px;
}
.u-pt-83 {
  padding-top: 83px;
}
.u-pr-83 {
  padding-right: 83px;
}
.u-pb-83 {
  padding-bottom: 83px;
}
.u-pl-83 {
  padding-left: 83px;
}
.u-mt-84 {
  margin-top: 84px;
}
.u-mr-84 {
  margin-right: 84px;
}
.u-mb-84 {
  margin-bottom: 84px;
}
.u-ml-84 {
  margin-left: 84px;
}
.u-pt-84 {
  padding-top: 84px;
}
.u-pr-84 {
  padding-right: 84px;
}
.u-pb-84 {
  padding-bottom: 84px;
}
.u-pl-84 {
  padding-left: 84px;
}
.u-mt-85 {
  margin-top: 85px;
}
.u-mr-85 {
  margin-right: 85px;
}
.u-mb-85 {
  margin-bottom: 85px;
}
.u-ml-85 {
  margin-left: 85px;
}
.u-pt-85 {
  padding-top: 85px;
}
.u-pr-85 {
  padding-right: 85px;
}
.u-pb-85 {
  padding-bottom: 85px;
}
.u-pl-85 {
  padding-left: 85px;
}
.u-mt-86 {
  margin-top: 86px;
}
.u-mr-86 {
  margin-right: 86px;
}
.u-mb-86 {
  margin-bottom: 86px;
}
.u-ml-86 {
  margin-left: 86px;
}
.u-pt-86 {
  padding-top: 86px;
}
.u-pr-86 {
  padding-right: 86px;
}
.u-pb-86 {
  padding-bottom: 86px;
}
.u-pl-86 {
  padding-left: 86px;
}
.u-mt-87 {
  margin-top: 87px;
}
.u-mr-87 {
  margin-right: 87px;
}
.u-mb-87 {
  margin-bottom: 87px;
}
.u-ml-87 {
  margin-left: 87px;
}
.u-pt-87 {
  padding-top: 87px;
}
.u-pr-87 {
  padding-right: 87px;
}
.u-pb-87 {
  padding-bottom: 87px;
}
.u-pl-87 {
  padding-left: 87px;
}
.u-mt-88 {
  margin-top: 88px;
}
.u-mr-88 {
  margin-right: 88px;
}
.u-mb-88 {
  margin-bottom: 88px;
}
.u-ml-88 {
  margin-left: 88px;
}
.u-pt-88 {
  padding-top: 88px;
}
.u-pr-88 {
  padding-right: 88px;
}
.u-pb-88 {
  padding-bottom: 88px;
}
.u-pl-88 {
  padding-left: 88px;
}
.u-mt-89 {
  margin-top: 89px;
}
.u-mr-89 {
  margin-right: 89px;
}
.u-mb-89 {
  margin-bottom: 89px;
}
.u-ml-89 {
  margin-left: 89px;
}
.u-pt-89 {
  padding-top: 89px;
}
.u-pr-89 {
  padding-right: 89px;
}
.u-pb-89 {
  padding-bottom: 89px;
}
.u-pl-89 {
  padding-left: 89px;
}
.u-mt-90 {
  margin-top: 90px;
}
.u-mr-90 {
  margin-right: 90px;
}
.u-mb-90 {
  margin-bottom: 90px;
}
.u-ml-90 {
  margin-left: 90px;
}
.u-pt-90 {
  padding-top: 90px;
}
.u-pr-90 {
  padding-right: 90px;
}
.u-pb-90 {
  padding-bottom: 90px;
}
.u-pl-90 {
  padding-left: 90px;
}
.u-mt-91 {
  margin-top: 91px;
}
.u-mr-91 {
  margin-right: 91px;
}
.u-mb-91 {
  margin-bottom: 91px;
}
.u-ml-91 {
  margin-left: 91px;
}
.u-pt-91 {
  padding-top: 91px;
}
.u-pr-91 {
  padding-right: 91px;
}
.u-pb-91 {
  padding-bottom: 91px;
}
.u-pl-91 {
  padding-left: 91px;
}
.u-mt-92 {
  margin-top: 92px;
}
.u-mr-92 {
  margin-right: 92px;
}
.u-mb-92 {
  margin-bottom: 92px;
}
.u-ml-92 {
  margin-left: 92px;
}
.u-pt-92 {
  padding-top: 92px;
}
.u-pr-92 {
  padding-right: 92px;
}
.u-pb-92 {
  padding-bottom: 92px;
}
.u-pl-92 {
  padding-left: 92px;
}
.u-mt-93 {
  margin-top: 93px;
}
.u-mr-93 {
  margin-right: 93px;
}
.u-mb-93 {
  margin-bottom: 93px;
}
.u-ml-93 {
  margin-left: 93px;
}
.u-pt-93 {
  padding-top: 93px;
}
.u-pr-93 {
  padding-right: 93px;
}
.u-pb-93 {
  padding-bottom: 93px;
}
.u-pl-93 {
  padding-left: 93px;
}
.u-mt-94 {
  margin-top: 94px;
}
.u-mr-94 {
  margin-right: 94px;
}
.u-mb-94 {
  margin-bottom: 94px;
}
.u-ml-94 {
  margin-left: 94px;
}
.u-pt-94 {
  padding-top: 94px;
}
.u-pr-94 {
  padding-right: 94px;
}
.u-pb-94 {
  padding-bottom: 94px;
}
.u-pl-94 {
  padding-left: 94px;
}
.u-mt-95 {
  margin-top: 95px;
}
.u-mr-95 {
  margin-right: 95px;
}
.u-mb-95 {
  margin-bottom: 95px;
}
.u-ml-95 {
  margin-left: 95px;
}
.u-pt-95 {
  padding-top: 95px;
}
.u-pr-95 {
  padding-right: 95px;
}
.u-pb-95 {
  padding-bottom: 95px;
}
.u-pl-95 {
  padding-left: 95px;
}
.u-mt-96 {
  margin-top: 96px;
}
.u-mr-96 {
  margin-right: 96px;
}
.u-mb-96 {
  margin-bottom: 96px;
}
.u-ml-96 {
  margin-left: 96px;
}
.u-pt-96 {
  padding-top: 96px;
}
.u-pr-96 {
  padding-right: 96px;
}
.u-pb-96 {
  padding-bottom: 96px;
}
.u-pl-96 {
  padding-left: 96px;
}
.u-mt-97 {
  margin-top: 97px;
}
.u-mr-97 {
  margin-right: 97px;
}
.u-mb-97 {
  margin-bottom: 97px;
}
.u-ml-97 {
  margin-left: 97px;
}
.u-pt-97 {
  padding-top: 97px;
}
.u-pr-97 {
  padding-right: 97px;
}
.u-pb-97 {
  padding-bottom: 97px;
}
.u-pl-97 {
  padding-left: 97px;
}
.u-mt-98 {
  margin-top: 98px;
}
.u-mr-98 {
  margin-right: 98px;
}
.u-mb-98 {
  margin-bottom: 98px;
}
.u-ml-98 {
  margin-left: 98px;
}
.u-pt-98 {
  padding-top: 98px;
}
.u-pr-98 {
  padding-right: 98px;
}
.u-pb-98 {
  padding-bottom: 98px;
}
.u-pl-98 {
  padding-left: 98px;
}
.u-mt-99 {
  margin-top: 99px;
}
.u-mr-99 {
  margin-right: 99px;
}
.u-mb-99 {
  margin-bottom: 99px;
}
.u-ml-99 {
  margin-left: 99px;
}
.u-pt-99 {
  padding-top: 99px;
}
.u-pr-99 {
  padding-right: 99px;
}
.u-pb-99 {
  padding-bottom: 99px;
}
.u-pl-99 {
  padding-left: 99px;
}
.u-mt-100 {
  margin-top: 100px;
}
.u-mr-100 {
  margin-right: 100px;
}
.u-mb-100 {
  margin-bottom: 100px;
}
.u-ml-100 {
  margin-left: 100px;
}
.u-pt-100 {
  padding-top: 100px;
}
.u-pr-100 {
  padding-right: 100px;
}
.u-pb-100 {
  padding-bottom: 100px;
}
.u-pl-100 {
  padding-left: 100px;
}
